<% content_for :page_title, "Editar torneo" %>
<% content_for :header_actions do %><%= link_to admin_tournament_path(@tournament), class: "btn btn-secondary" do %><i class="ti ti-arrow-left"></i> Volver<% end %><% end %>
<div class="row justify-content-center"><div class="col-lg-8"><div class="card"><div class="card-body"><%= render "form", tournament: @tournament %></div></div></div></div>
