APP_DOMAIN=golahora.gemaroja.com.ar

POSTGRES_USER=gol_ahora
POSTGRES_PASSWORD=change_me
POSTGRES_DB=gol_ahora_production
POSTGRES_CACHE_DB=gol_ahora_production_cache
POSTGRES_QUEUE_DB=gol_ahora_production_queue
POSTGRES_CABLE_DB=gol_ahora_production_cable

DATABASE_URL=postgresql://gol_ahora:change_me@db:5432/gol_ahora_production
CACHE_DATABASE_URL=postgresql://gol_ahora:change_me@db:5432/gol_ahora_production_cache
QUEUE_DATABASE_URL=postgresql://gol_ahora:change_me@db:5432/gol_ahora_production_queue
CABLE_DATABASE_URL=postgresql://gol_ahora:change_me@db:5432/gol_ahora_production_cable

SECRET_KEY_BASE=generate_a_long_random_secret
RAILS_LOG_LEVEL=info
RAILS_SERVE_STATIC_FILES=true
FORCE_SSL=true
ASSUME_SSL=true

# Solo si querés ver páginas de error detalladas temporalmente durante QA.
RAILS_SHOW_FULL_ERRORS=false
