<% content_for :page_title, "Agregar partido" %>
<% content_for :header_actions do %>
  <%= link_to @competition_type == :league ? admin_league_path(@competition) : admin_tournament_path(@competition), class: "btn btn-secondary" do %><i class="ti ti-arrow-left"></i> Volver<% end %>
<% end %>
<div class="row justify-content-center"><div class="col-lg-8"><div class="card"><div class="card-body"><%= render "form", match: @match, competition: @competition, competition_type: @competition_type %></div></div></div></div>
